<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="formulaire"></ion-back-button>
    </ion-buttons>
    <ion-title>
      POULETS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

      <!-- <ion-grid>
        <ion-row class="raw1">
          <ion-col class="col1" (click)="formulaire()">
            <div class="div1">
              <ion-img class="img1" src="/../../assets/img/leo.PNG" ></ion-img>
            </div>
          </ion-col>
          <ion-col  (click)="backgrou()">
            <div>
              <ion-img src="/../../assets/img/nice.PNG"></ion-img>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="raw2">
          <ion-col>
            <div>
              <ion-img src="/../../assets/img/leo.PNG"></ion-img>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-img src="/../../assets/img/nice.PNG"></ion-img>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="raw3">
          <ion-col>
            <div>
              <ion-img src="/../../assets/img/leo.PNG"></ion-img>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-img src="/../../assets/img/nice.PNG"></ion-img>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid> -->
</ion-content>
