ion-content{
    --background: url('../../assets/img/viande.jpg') no-repeat 10% 85%;
    --background-color: transparent;
    // opacity: 0.2;
    text-align: center;
    color: white;
    
}
ion-title{
    font-family: cursive;
    text-align: center;
    color: white;
}
ion-header{
    --ion-background-color: rgb(191, 48, 48);
}
ion-grid{
    margin: 10%;
    margin-top: 30%;
}
.viandeGrid{
    margin: 7%;
    opacity: 0.8;
}
